<div class="container">
    <h1>Places</h1>

    <div id="map" style="width: 800px; height: 400px;"></div>
    <script>
        var places = {{{ json data.places }}};
        console.log(places);

        function initMap() {
            // Create a map object and specify the DOM element for display.
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: 44.95,
                    lng: -93.23
                },
                scrollwheel: true,
                zoom: 11
            });


            var infowindow = new google.maps.InfoWindow();

            places.forEach(function (place) {
                console.log(place);
                var myLatLng = {
                    lat: place.location.geo[1],
                    lng: place.location.geo[0]
                };


                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: place.title
                });

                marker.addListener('click', function () {

                    var el = document.getElementById("place-" + place._id);
                    infowindow.setContent(el);

                    infowindow.open(map, marker);
                });
            });

        }
    </script>

</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-9">
            <h4 class="text-weight-normal">Showing {{ data.places.length}} places.</h4>
        </div>

    </div>


</div>

<script src="https://maps.googleapis.com/maps/api/js?key={{data.GOOGLE_BROWSER_KEY}}&callback=initMap" async defer></script>

<div id="infowindow-containers" style="display:none;">
    {{# each data.places}}
    <div id="place-{{ _id }}" class="post">
        <h2><a href="{{placeUrl slug}}">{{{title}}}</a></h2>
        <p>{{{content}}}</p>
    </div>
    {{/each}}
</div>